.recents_container {
  background-color: white;
  padding: 5px 10px;
  margin-top: 40px;
  border-radius: 12px;
  width: 300px;
}

.recents_title {
  font-size: 14px;
}

.recents_tags_container {
  margin-left: 15px;
  font-size: 14px;
  color: gray;
  font-weight: 600;
}

.recents_tags_container > p {
  cursor: pointer;
}
