.user_details_container {
  width: 300px;
  border-radius: 12px;
  background-color: white;
  margin-top: 40px;
}

.user_details_background_image > img {
  width: 300px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 150px;
}

.user_details_div {
  padding: 0 10px;
  margin-top: -50px;
  z-index: 10;
  text-align: center;
}
.user_details_div_title {
  font-size: 18px;
  font-weight: 700;
  color: black;
}

.user_details_div {
  font-size: 14px;
  color: grey;
  font-weight: 600;
}

.user_details_stats {
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: space-between;
}

.user_details_stats > p {
  font-size: 14px;
  color: gray;
  font-weight: 600;
}

.user_details_stats_highlight {
  color: #0047ab;
}
