.right_menu_container {
  width: 250px;
  background-color: white;
  border-radius: 12px;
  padding: 5px 10px;
  height: 450px;
  position: sticky;
  left: 80%;
  margin-top: 40px;
}

.right_menu_title {
  font-weight: bold;
  font-size: 18px;
}

.right_menu_news_title {
  margin-top: 20px;
  cursor: pointer;
}
